In [1]:
import pickle
import sys
import pandas as pd

In [5]:
data = pickle.load(open('student_answer.pkl','rb'))
hint_data = pickle.load(open('student_hint.pkl','rb'))

attempt = {}
for line in data:
    if line['timestamp'] == 'null':
        continue
    #if line['attempt'] == 'no attempt':
    #    continue
    answer = [line['timestamp'],line['attempt'],line['answer'], line['score']]
    key = (line['set_id'],line['problem_id'],line['part_id'])
    if key not in attempt:
        attempt[key] = {}
    student_key = (str(line['user_id']).replace('L',''),line['username'])
    if student_key not in attempt[key]:
        attempt[key][student_key] = []
    attempt[key][student_key].append(answer)

In [16]:
### Run this to see the number of wrong attempts for each week each problem and each part.

### Type in integer for the week id
week_id = '4'

attempt_count_data = []
for problem in attempt:
    if problem[0] == week_id:
        total_attempt_number = 0
        for student in attempt[problem]:
            for ans in attempt[problem][student]:
                if ans[3] == '0':
                    total_attempt_number += 1
                elif ans[3] == '1' or ans[3] == '2':
                    break
        attempt_count_data.append([problem[0], problem[1], problem[2], str(total_attempt_number)])

In [17]:
### Sort the count by attempts
attempt_count_data = sorted(attempt_count_data, key=lambda x: (int(x[1]), int(x[2])))
ind = [a[0] for a in attempt_count_data]
ind2 = [a[1] for a in attempt_count_data]
ind3 = [a[2] for a in attempt_count_data]
d = [a[3] for a in attempt_count_data]
col = ['Total Attempts']
df = pd.DataFrame(d, index = [ind,ind2, ind3], columns = col)
df.index.names = ['Week ID', 'Problem ID', 'Part ID']
df

                           Total Attempts
Week ID Problem ID Part ID
4       1          1                  167
                   2                  304
                   3                  180
        2          1                  210
                   2                   76
                   3                   70
                   4                  116
                   5                  105
                   6                  170
                   7                  247
        3          1                   77
                   2                  197
                   3                  203
                   4                  294
        4          1                  101
                   2                   89
                   3                   78
        5          1                  439
                   2                  956
                   3                   67
                   4                  466
        6          1                  249
                   2                  243
        7          1                  581
                   2                  245
                   3                  333
        8          1                  154
                   2                  201
                   3                  716
        9          1                  328
                   2                  214
                   3                  246
                   4                   35
                   5                  183
                   6                  254

In [18]:
### Sort the count by problem id and part id
attempt_count_data = sorted(attempt_count_data, key=lambda x: int(x[3]), reverse = True)
col = ['Week ID', 'Problem ID', 'Part ID', 'Total Attempts']
pd.DataFrame(attempt_count_data, columns = col)

   Week ID Problem ID Part ID Total Attempts
0        4          5       2            956
1        4          8       3            716
2        4          7       1            581
3        4          5       4            466
4        4          5       1            439
5        4          7       3            333
6        4          9       1            328
7        4          1       2            304
8        4          3       4            294
9        4          9       6            254
10       4          6       1            249
11       4          2       7            247
12       4          9       3            246
13       4          7       2            245
14       4          6       2            243
15       4          9       2            214
16       4          2       1            210
17       4          3       3            203
18       4          8       2            201
19       4          3       2            197
20       4          9       5            183
21       4          1       3            180
22       4          2       6            170
23       4          1       1            167
24       4          8       1            154
25       4          2       4            116
26       4          2       5            105
27       4          4       1            101
28       4          4       2             89
29       4          4       3             78
30       4          3       1             77
31       4          2       2             76
32       4          2       3             70
33       4          5       3             67
34       4          9       4             35

In [19]:
### Select certain week_id, problem_id, and part_id as int to show below

### Type in integer for the week id
week_id = 4

### If you want to see all problems of certain week, put problem_usr = 0
problem_id = 9

### If you want to see all parts of certain problem,  put part_usr = 0
part_id = 3

In [24]:
### Run this to output the student attempts and answers.
attempt_data = []
ind0 = []
ind1 = []
ind2 = []
col = ["Attempt", "Answer", "Correctness"]
for problem in attempt:
    if (week_id != 0 and problem[0] != str(week_id)) or \
    (problem_id != 0 and problem[1] != str(problem_id)) or \
    (part_id != 0 and problem[2] != str(part_id)):
        continue 
    print "Data for Week {0}, Problem {1}, Part {2}.".format(problem[0], problem[1], problem[2])
    for student in sorted(attempt[problem],key=lambda x:int(x[0])):
        previous = []
        for ans in attempt[problem][student][:10]:
            if ans[1] == 'null' or ans[1] == '' or ans[2] == 'null':
                continue
            if ans[1:] == previous:
                continue
            ind0.append(student[0])
            ind1.append(student[1])
            ind2.append(ans[0])
            attempt_data.append(ans[1:])
            previous = ans[1:]
ans_df = pd.DataFrame(attempt_data, index = [ind0,ind1,ind2], columns = col)
ans_df.index.names = ['ID', 'Name','TimeStamp']
ans_df

Data for Week 4, Problem 9, Part 3.

                                                    Attempt         Answer  \
ID  Name          TimeStamp
30  Lpascual      2016-10-21 03:23:10                     3  (14-1)*(14-2)
                  2016-10-21 03:34:06                     1  (13-1)*(13-2)
                  2016-10-21 03:42:37                    40  (14-1)*(14-2)
                  2016-10-21 03:44:06                   156  (14-1)*(14-2)
                  2016-10-21 06:31:25                   132  (13-1)*(13-2)
                  2016-10-21 21:49:19                   182  (15-1)*(15-2)
31  yazin-yousif  2016-10-21 22:05:15       (15-1) * (15-2)  (15-1)*(15-2)
32  abtom         2016-10-21 17:43:33               14 * 13  (15-1)*(15-2)
                  2016-10-21 17:53:46               13 * 12  (13-1)*(13-2)
                  2016-10-21 17:56:02                 13*12  (14-1)*(14-2)
33  nesengup      2016-10-21 16:37:31                   156  (14-1)*(14-2)
                  2016-10-21 16:56:20                   132  (13-1)*(13-2)
34  mvkrishn      2016-10-21 21:27:24               C(12,2)  (14-1)*(14-2)
                  2016-10-21 21:30:26              C(12, 2)  (15-1)*(15-2)
                  2016-10-21 21:31:51                 12*11  (13-1)*(13-2)
35  adejesus      2016-10-20 05:07:01                     3  (15-1)*(15-2)
                  2016-10-20 05:07:47                     2  (13-1)*(13-2)
                  2016-10-20 05:19:29                     9  (14-1)*(14-2)
                  2016-10-20 05:21:23                    12  (13-1)*(13-2)
                  2016-10-20 05:22:21                    15  (15-1)*(15-2)
                  2016-10-20 05:26:00               12 + 11  (13-1)*(13-2)
                  2016-10-20 05:30:02           14 + 13 + 1  (15-1)*(15-2)
                  2016-10-20 05:32:17                15 * 3  (15-1)*(15-2)
                  2016-10-20 05:34:49           14 + 13 + 1  (15-1)*(15-2)
                  2016-10-20 05:38:14                    13  (14-1)*(14-2)
37  aliceh        2016-10-21 05:59:47                     1  (13-1)*(13-2)
                  2016-10-21 06:00:40                 13*12  (14-1)*(14-2)
                  2016-10-21 06:01:58                 12*11  (13-1)*(13-2)
38  NicoleStone   2016-10-16 04:34:39                   7*6  (14-1)*(14-2)
                  2016-10-16 04:39:47                 14*13  (15-1)*(15-2)
...                                                     ...            ...
332 BrianaW       2016-10-21 04:14:09                 12*11  (14-1)*(14-2)
                  2016-10-21 04:15:32                 12*11  (13-1)*(13-2)
                  2016-10-21 04:17:00                 13*12  (14-1)*(14-2)
                  2016-10-21 04:23:06                 12*11  (13-1)*(13-2)
333 kevinpham     2016-10-20 21:29:59  10+9+8+7+6+5+4+3+2+1  (13-1)*(13-2)
                  2016-10-20 21:36:16           6+5+4+3+2+1  (13-1)*(13-2)
                  2016-10-20 21:38:14         C(7,1)*C(7,1)  (14-1)*(14-2)
                  2016-10-20 21:39:27                   100  (14-1)*(14-2)
                  2016-10-20 21:41:34                 14*13  (15-1)*(15-2)
                  2016-10-20 21:42:33                   132  (13-1)*(13-2)
334 yash          2016-10-21 09:04:55                 14*13  (15-1)*(15-2)
                  2016-10-21 09:07:28                 12*11  (13-1)*(13-2)
                  2016-10-21 09:13:18                    72  (15-1)*(15-2)
                  2016-10-21 09:15:08                 13*12  (14-1)*(14-2)
335 sokunev       2016-10-21 09:44:39               12 * 11  (13-1)*(13-2)
337 ddantas       2016-10-21 06:14:12               13!/11!  (14-1)*(14-2)
                  2016-10-21 06:18:36               12!/10!  (13-1)*(13-2)
341 ajgiri        2016-10-21 10:42:51                 14*13  (15-1)*(15-2)
342 JonDo         2016-10-21 05:44:43         (13-1)+(13-2)  (13-1)*(13-2)
                  2016-10-21 05:53:34               C(23,2)  (13-1)*(13-2)
                  2016-10-21 05:54:28       C(14,1)+C(13,1)  (15-1)*(15-2)
                  2016-10-21 06:22:23               C(13,2)  (14-1)*(14-2)
                  2016-10-21 06:22:53               P(13,2)  (15-1)*(15-2)
                  2016-10-21 06:25:05                 13*12  (14-1)*(14-2)
                  2016-10-21 06:30:28                 14*13  (15-1)*(15-2)
                  2016-10-21 06:41:16                 13*12  (14-1)*(14-2)
345 wesleymwong   2016-10-21 17:47:25               1*12*11  (13-1)*(13-2)
348 gurkiratsingh 2016-10-21 11:34:08                 13*12  (14-1)*(14-2)
349 DarrenYang    2016-10-17 02:45:46                   156  (14-1)*(14-2)
351 nicoleyfq     2016-10-19 18:29:14                 12*11  (13-1)*(13-2)

                                      Correctness
ID  Name          TimeStamp
30  Lpascual      2016-10-21 03:23:10           0
                  2016-10-21 03:34:06           0
                  2016-10-21 03:42:37           0
                  2016-10-21 03:44:06           1
                  2016-10-21 06:31:25           1
                  2016-10-21 21:49:19           1
31  yazin-yousif  2016-10-21 22:05:15           1
32  abtom         2016-10-21 17:43:33           1
                  2016-10-21 17:53:46           0
                  2016-10-21 17:56:02           1
33  nesengup      2016-10-21 16:37:31           1
                  2016-10-21 16:56:20           1
34  mvkrishn      2016-10-21 21:27:24           0
                  2016-10-21 21:30:26           0
                  2016-10-21 21:31:51           1
35  adejesus      2016-10-20 05:07:01           0
                  2016-10-20 05:07:47           0
                  2016-10-20 05:19:29           0
                  2016-10-20 05:21:23           0
                  2016-10-20 05:22:21           0
                  2016-10-20 05:26:00           0
                  2016-10-20 05:30:02           0
                  2016-10-20 05:32:17           0
                  2016-10-20 05:34:49           0
                  2016-10-20 05:38:14           0
37  aliceh        2016-10-21 05:59:47           0
                  2016-10-21 06:00:40           1
                  2016-10-21 06:01:58           1
38  NicoleStone   2016-10-16 04:34:39           0
                  2016-10-16 04:39:47           1
...                                           ...
332 BrianaW       2016-10-21 04:14:09           0
                  2016-10-21 04:15:32           1
                  2016-10-21 04:17:00           1
                  2016-10-21 04:23:06           1
333 kevinpham     2016-10-20 21:29:59           0
                  2016-10-20 21:36:16           0
                  2016-10-20 21:38:14           0
                  2016-10-20 21:39:27           0
                  2016-10-20 21:41:34           1
                  2016-10-20 21:42:33           1
334 yash          2016-10-21 09:04:55           1
                  2016-10-21 09:07:28           1
                  2016-10-21 09:13:18           0
                  2016-10-21 09:15:08           1
335 sokunev       2016-10-21 09:44:39           1
337 ddantas       2016-10-21 06:14:12           1
                  2016-10-21 06:18:36           1
341 ajgiri        2016-10-21 10:42:51           1
342 JonDo         2016-10-21 05:44:43           0
                  2016-10-21 05:53:34           0
                  2016-10-21 05:54:28           0
                  2016-10-21 06:22:23           0
                  2016-10-21 06:22:53           0
                  2016-10-21 06:25:05           1
                  2016-10-21 06:30:28           1
                  2016-10-21 06:41:16           1
345 wesleymwong   2016-10-21 17:47:25           1
348 gurkiratsingh 2016-10-21 11:34:08           1
349 DarrenYang    2016-10-17 02:45:46           1
351 nicoleyfq     2016-10-19 18:29:14           1

[668 rows x 3 columns]

In [26]:
### Run this to see students' answers with hints.

#combine two dic
hint_attempt = {}
for problem in attempt:
    hint_attempt[problem] = {}
    for student in attempt[problem]:
        hint_attempt[problem][student] = attempt[problem][student][:]
        if problem in hint_data and student in hint_data[problem]:
            for hint_content in hint_data[problem][student]:
                if hint_content[1] != "no attempt":
                    hint_attempt[problem][student].append(hint_content)
            hint_attempt[problem][student].sort()

hint_attempt_data = []
hint_ind0 = []
hint_ind1 = []
hint_ind2 = []
col = ["Attempt", "Attempt/Hint", "Correctness"]
for problem in hint_attempt:
    if (week_id != 0 and problem[0] != str(week_id)) or \
    (problem_id != 0 and problem[1] != str(problem_id)) or \
    (part_id != 0 and problem[2] != str(part_id)):
        continue 
    print "Data for Week {0}, Problem {1}, Part {2}.".format(problem[0], problem[1], problem[2])
    for student in sorted(hint_attempt[problem], key=lambda x:int(x[0])):
        previous = []
        for ans in hint_attempt[problem][student]:
            if ans[1] == 'null' or ans[1] == '' or ans[2] == 'null':
                continue
            if ans[1:] == previous:
                continue
            hint_ind0.append(student[0])
            hint_ind1.append(student[1])
            hint_ind2.append(ans[0])
            hint_attempt_data.append(ans[1:])
            previous = ans[1:]
ans_df = pd.DataFrame(hint_attempt_data, index = [hint_ind0, hint_ind1, hint_ind2], columns = col)
ans_df.index.names = ['ID', 'Name','TimeStamp']
ans_df

Data for Week 4, Problem 9, Part 3.

                                                    Attempt  \
ID  Name          TimeStamp
30  Lpascual      2016-10-21 03:23:10                     3
                  2016-10-21 03:34:06                     1
                  2016-10-21 03:42:37                    40
                  2016-10-21 03:44:06                   156
                  2016-10-21 06:31:25                   132
                  2016-10-21 21:49:19                   182
31  yazin-yousif  2016-10-21 22:05:15       (15-1) * (15-2)
32  abtom         2016-10-21 17:43:33               14 * 13
                  2016-10-21 17:53:46               13 * 12
                  2016-10-21 17:56:02                 13*12
33  nesengup      2016-10-21 16:37:31                   156
                  2016-10-21 16:56:20                   132
34  mvkrishn      2016-10-21 21:27:24               C(12,2)
                  2016-10-21 21:30:26              C(12, 2)
                  2016-10-21 21:31:51                 12*11
35  adejesus      2016-10-20 05:07:01                     3
                  2016-10-20 05:07:47                     2
                  2016-10-20 05:19:29                     9
                  2016-10-20 05:21:23                    12
                  2016-10-20 05:21:26                    12
                  2016-10-20 05:22:21                    15
                  2016-10-20 05:22:23                    15
                  2016-10-20 05:26:00               12 + 11
                  2016-10-20 05:26:09               12 + 11
                  2016-10-20 05:30:02           14 + 13 + 1
                  2016-10-20 05:32:17                15 * 3
                  2016-10-20 05:32:20                15 * 3
                  2016-10-20 05:34:49           14 + 13 + 1
                  2016-10-20 05:34:52           14 + 13 + 1
                  2016-10-20 05:38:14                    13
...                                                     ...
332 BrianaW       2016-10-21 04:17:00                 13*12
                  2016-10-21 04:23:06                 12*11
333 kevinpham     2016-10-20 21:29:59  10+9+8+7+6+5+4+3+2+1
                  2016-10-20 21:36:16           6+5+4+3+2+1
                  2016-10-20 21:38:14         C(7,1)*C(7,1)
                  2016-10-20 21:39:27                   100
                  2016-10-20 21:41:34                 14*13
                  2016-10-20 21:42:33                   132
334 yash          2016-10-21 09:04:55                 14*13
                  2016-10-21 09:07:28                 12*11
                  2016-10-21 09:13:18                    72
                  2016-10-21 09:15:08                 13*12
335 sokunev       2016-10-21 09:44:39               12 * 11
337 ddantas       2016-10-21 06:14:12               13!/11!
                  2016-10-21 06:18:36               12!/10!
341 ajgiri        2016-10-21 10:42:51                 14*13
342 JonDo         2016-10-21 05:44:43         (13-1)+(13-2)
                  2016-10-21 05:44:46         (13-1)+(13-2)
                  2016-10-21 05:53:34               C(23,2)
                  2016-10-21 05:54:28       C(14,1)+C(13,1)
                  2016-10-21 05:54:30       C(14,1)+C(13,1)
                  2016-10-21 06:22:23               C(13,2)
                  2016-10-21 06:22:53               P(13,2)
                  2016-10-21 06:25:05                 13*12
                  2016-10-21 06:30:28                 14*13
                  2016-10-21 06:41:16                 13*12
345 wesleymwong   2016-10-21 17:47:25               1*12*11
348 gurkiratsingh 2016-10-21 11:34:08                 13*12
349 DarrenYang    2016-10-17 02:45:46                   156
351 nicoleyfq     2016-10-19 18:29:14                 12*11

                                                                            Attempt/Hint  \
ID  Name          TimeStamp
30  Lpascual      2016-10-21 03:23:10                                      (14-1)*(14-2)
                  2016-10-21 03:34:06                                      (13-1)*(13-2)
                  2016-10-21 03:42:37                                      (14-1)*(14-2)
                  2016-10-21 03:44:06                                      (14-1)*(14-2)
                  2016-10-21 06:31:25                                      (13-1)*(13-2)
                  2016-10-21 21:49:19                                      (15-1)*(15-2)
31  yazin-yousif  2016-10-21 22:05:15                                      (15-1)*(15-2)
32  abtom         2016-10-21 17:43:33                                      (15-1)*(15-2)
                  2016-10-21 17:53:46                                      (13-1)*(13-2)
                  2016-10-21 17:56:02                                      (14-1)*(14-2)
33  nesengup      2016-10-21 16:37:31                                      (14-1)*(14-2)
                  2016-10-21 16:56:20                                      (13-1)*(13-2)
34  mvkrishn      2016-10-21 21:27:24                                      (14-1)*(14-2)
                  2016-10-21 21:30:26                                      (15-1)*(15-2)
                  2016-10-21 21:31:51                                      (13-1)*(13-2)
35  adejesus      2016-10-20 05:07:01                                      (15-1)*(15-2)
                  2016-10-20 05:07:47                                      (13-1)*(13-2)
                  2016-10-20 05:19:29                                      (14-1)*(14-2)
                  2016-10-20 05:21:23                                      (13-1)*(13-2)
                  2016-10-20 05:21:26  Please write an expression, not the final nume...
                  2016-10-20 05:22:21                                      (15-1)*(15-2)
                  2016-10-20 05:22:23  Please write an expression, not the final nume...
                  2016-10-20 05:26:00                                      (13-1)*(13-2)
                  2016-10-20 05:26:09   The sum fuction (+) is not relevant to this q...
                  2016-10-20 05:30:02                                      (15-1)*(15-2)
                  2016-10-20 05:32:17                                      (15-1)*(15-2)
                  2016-10-20 05:32:20   Please use the resultant expression from part...
                  2016-10-20 05:34:49                                      (15-1)*(15-2)
                  2016-10-20 05:34:52   The sum fuction (+) is not relevant to this q...
                  2016-10-20 05:38:14                                      (14-1)*(14-2)
...                                                                                  ...
332 BrianaW       2016-10-21 04:17:00                                      (14-1)*(14-2)
                  2016-10-21 04:23:06                                      (13-1)*(13-2)
333 kevinpham     2016-10-20 21:29:59                                      (13-1)*(13-2)
                  2016-10-20 21:36:16                                      (13-1)*(13-2)
                  2016-10-20 21:38:14                                      (14-1)*(14-2)
                  2016-10-20 21:39:27                                      (14-1)*(14-2)
                  2016-10-20 21:41:34                                      (15-1)*(15-2)
                  2016-10-20 21:42:33                                      (13-1)*(13-2)
334 yash          2016-10-21 09:04:55                                      (15-1)*(15-2)
                  2016-10-21 09:07:28                                      (13-1)*(13-2)
                  2016-10-21 09:13:18                                      (15-1)*(15-2)
                  2016-10-21 09:15:08                                      (14-1)*(14-2)
335 sokunev       2016-10-21 09:44:39                                      (13-1)*(13-2)
337 ddantas       2016-10-21 06:14:12                                      (14-1)*(14-2)
                  2016-10-21 06:18:36                                      (13-1)*(13-2)
341 ajgiri        2016-10-21 10:42:51                                      (15-1)*(15-2)
342 JonDo         2016-10-21 05:44:43                                      (13-1)*(13-2)
                  2016-10-21 05:44:46        Please find hint at the bottom of the page.
                  2016-10-21 05:53:34                                      (13-1)*(13-2)
                  2016-10-21 05:54:28                                      (15-1)*(15-2)
                  2016-10-21 05:54:30        Please find hint at the bottom of the page.
                  2016-10-21 06:22:23                                      (14-1)*(14-2)
                  2016-10-21 06:22:53                                      (15-1)*(15-2)
                  2016-10-21 06:25:05                                      (14-1)*(14-2)
                  2016-10-21 06:30:28                                      (15-1)*(15-2)
                  2016-10-21 06:41:16                                      (14-1)*(14-2)
345 wesleymwong   2016-10-21 17:47:25                                      (13-1)*(13-2)
348 gurkiratsingh 2016-10-21 11:34:08                                      (14-1)*(14-2)
349 DarrenYang    2016-10-17 02:45:46                                      (14-1)*(14-2)
351 nicoleyfq     2016-10-19 18:29:14                                      (13-1)*(13-2)

                                      Correctness
ID  Name          TimeStamp
30  Lpascual      2016-10-21 03:23:10           0
                  2016-10-21 03:34:06           0
                  2016-10-21 03:42:37           0
                  2016-10-21 03:44:06           1
                  2016-10-21 06:31:25           1
                  2016-10-21 21:49:19           1
31  yazin-yousif  2016-10-21 22:05:15           1
32  abtom         2016-10-21 17:43:33           1
                  2016-10-21 17:53:46           0
                  2016-10-21 17:56:02           1
33  nesengup      2016-10-21 16:37:31           1
                  2016-10-21 16:56:20           1
34  mvkrishn      2016-10-21 21:27:24           0
                  2016-10-21 21:30:26           0
                  2016-10-21 21:31:51           1
35  adejesus      2016-10-20 05:07:01           0
                  2016-10-20 05:07:47           0
                  2016-10-20 05:19:29           0
                  2016-10-20 05:21:23           0
                  2016-10-20 05:21:26        None
                  2016-10-20 05:22:21           0
                  2016-10-20 05:22:23        None
                  2016-10-20 05:26:00           0
                  2016-10-20 05:26:09        None
                  2016-10-20 05:30:02           0
                  2016-10-20 05:32:17           0
                  2016-10-20 05:32:20        None
                  2016-10-20 05:34:49           0
                  2016-10-20 05:34:52        None
                  2016-10-20 05:38:14           0
...                                           ...
332 BrianaW       2016-10-21 04:17:00           1
                  2016-10-21 04:23:06           1
333 kevinpham     2016-10-20 21:29:59           0
                  2016-10-20 21:36:16           0
                  2016-10-20 21:38:14           0
                  2016-10-20 21:39:27           0
                  2016-10-20 21:41:34           1
                  2016-10-20 21:42:33           1
334 yash          2016-10-21 09:04:55           1
                  2016-10-21 09:07:28           1
                  2016-10-21 09:13:18           0
                  2016-10-21 09:15:08           1
335 sokunev       2016-10-21 09:44:39           1
337 ddantas       2016-10-21 06:14:12           1
                  2016-10-21 06:18:36           1
341 ajgiri        2016-10-21 10:42:51           1
342 JonDo         2016-10-21 05:44:43           0
                  2016-10-21 05:44:46        None
                  2016-10-21 05:53:34           0
                  2016-10-21 05:54:28           0
                  2016-10-21 05:54:30        None
                  2016-10-21 06:22:23           0
                  2016-10-21 06:22:53           0
                  2016-10-21 06:25:05           1
                  2016-10-21 06:30:28           1
                  2016-10-21 06:41:16           1
345 wesleymwong   2016-10-21 17:47:25           1
348 gurkiratsingh 2016-10-21 11:34:08           1
349 DarrenYang    2016-10-17 02:45:46           1
351 nicoleyfq     2016-10-19 18:29:14           1

[717 rows x 3 columns]